@using QuizEngine.Models

@model List<Answer>


@if(Model.Count > 0)
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Answer</th>
            <th class="text-center">Sequence</th>
            <th class="text-center">Score</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach(Answer answer in Model)
        {
            <tr style="font-size: 85%">
                <td>@Html.DisplayFor(m => answer.AnswerId)</td>
                <td>@Html.DisplayFor(m => answer.AnswerText, "TruncatedString75")</td>
                <td class="text-center">@Html.DisplayFor(m => answer.Sequence)</td>
                <td class="text-center">@Html.DisplayFor(m => answer.Score)</td>
                <td class="text-right">
                    @Html.ActionLink("Edit", "EditAnswer",
                        new { area = "Admin", controller = "Answers", answerId = answer.AnswerId })
                    /
                    @Ajax.ActionLink("Delete", "DeleteAnswer",
                        new { area = "Admin", controller = "Answers", answerId = answer.AnswerId, questionId = answer.QuestionId },
                        new AjaxOptions
                        {
                            HttpMethod = "POST",
                            Confirm = "Are you sure you want to delete this answer?",
                            UpdateTargetId = "answersTable"
                        })
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>There are no answers associated with this question.</p>
}
